/* nav a.active{
    color: #039be5;
}
div{
    margin: 3rem;
} */

/* navbar */
/* .navbar{
    justify-content: space-between;
}

span{
    padding-right: 1rem;
} */

/* side navbar */
/* mat-sidenav-container{
    height: 100%;
}
mat-sidenav, mat-sidenav-content{
    padding: 16px;
}
mat-sidenav{
    background-color: lightcoral;
    width: 200px;
} */

/* Grid List */
mat-grid-tile{
    background-color: aqua;
}

/* data table */
table {
    width: 100%;
  }